
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# python intermediate files
*.pyc
__pycache__/
.mypy_cache
.pytest_cache

# dev/test files
test/cache/*
test/results.csv

# misc OS files
.DS_Store
