commands:
  01 Update python pip:
    command: python3 -m pip install --upgrade pip
    ignoreErrors: false
  02 For installing from directories:
    command: python3 -m pip install Cython==0.29.21
    ignoreErrors: false
  03 Check MATURITY is declared, don't default to local:
    command: if [ -z "${MATURITY}" ]; then exit -1; fi
    ignoreErrors: false
